{% extends 'layouts/blank.html' %}

{% block title %}
    Home | Endeavor Lab
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4 mb-4">Welcome to Endeavor Lab</h1>
            <p class="lead mb-5">Empowering entrepreneurs with intelligent tools and insights.</p>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-lg-8 mx-auto text-center">
            <p class="text-muted mt-4">Endeavor Lab provides cutting-edge tools to help entrepreneurs succeed in the digital age.</p>
        </div>
    </div>
</div>
{% endblock content %}
